body {
  background-color: white;
  color: black
}

svg {
  display: block;
  width: 600px;
  height: 300px;
  overflow: visible;
}

svg rect.selection {
  stroke: none;
}

#root {
  /* max-width: 600px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /* height: 100vh; */
  /* padding: 0 50px 150px; */
  text-align: center;
  box-sizing: border-box;

}


p {
  margin: 0;
}
